<!DOCTYPE html>
<html>
<head>
    <title>Image Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Upload an Image for Classification</h2>

    <form method="post" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <br><br>
    <label>Select Model:</label>
    <select name="model_choice">
        <option value="cnn">CNN (Conv2D)</option>
        <option value="mobilenet">MobileNetV2</option>
    </select>
    <br><br>
    <input type="submit" value="Predict">
</form>

{% if label %}
    <h3>Prediction: {{ label }}</h3>
    <img src="{{ url_for('static', filename=filename) }}" width="300">
{% endif %}
    

</body>
</html>
